name: Vize Ankara Checker

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache state
        uses: actions/cache@v4
        with:
          path: state.txt
          key: bls-state

      - name: Python kur
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.9"

      - name: Bağımlılıklar
        run: pip install -r requirements.txt

      - name: Çalıştır
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python visa_bot.py
