name: Visa Appointment Checker For Ankara / Just Spain and Chezch For Now

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Restore state cache
        uses: actions/cache@v3
        with:
          path: state.json
          key: visa-state

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          BLS_COOKIE: ${{ secrets.BLS_COOKIE }}
        run: python visa_bot.py
